<div class="container">
    <div class="container">
        <textarea id="codeEditor" class="code-editor">
              // Your Java code here
        </textarea>
        <div class="button-container">
            <button onclick="alignCode()">Align Code</button>
            <button onclick="updateCode()">Update (Ctrl+S)</button>
            <button onclick="compileCode()">Compile</button>
            <button onclick="runCode()">Run</button>
            <button onclick="submitCode()">Submit</button>
        </div>
        <div>{{""}}</div>
    </div>
</div>