<div class="container">
    <textarea id="codeEditor" class="code-editor" [(ngModel)]="code">
    </textarea>
    <div class="button-container">
        <button (click)="alignCode()">Align Code</button>
        <button (click)="updateCode()">Update (Ctrl+S)</button>
        <button (click)="compileCode()">Compile</button>
        <button (click)="runCode()">Run</button>
        <button (click)="submitCode()">Submit</button>
    </div>
    <div id="output">
        <pre>{{ output }}</pre>
        <pre style="color: red;">{{ error }}</pre>
    </div>
</div>
