<div *ngIf="true">
  <header><h2>Welcome in samarth software</h2></header>
</div>
<div >
  <div *ngIf="showLogin">
    <button (click)="register()">Register</button>
    <button (click)="login()" >Login</button>
    <div>
      <app-login-student (showDataEvent)="showData($event)" *ngIf="loginState"></app-login-student>
      <app-register-student  *ngIf="registerState"></app-register-student>
    </div>
    
  </div>
  <div *ngIf="!showLogin">
    <app-practice></app-practice>
  </div>
</div>


