<div>
    <div>
        <button (click)="ApptitudeCall()">Apti</button>
        <button (click)="MCQCall()">MCQ</button>
        <button (click)="CodingCall()">Coding</button>
        <button (click)="GTOCall()">GTO</button>
        <button (click)="SQLCall()">SQL</button>
        <button (click)="InterviewCall()">InterView Question</button>
    </div>
    <div>
        <div *ngIf="aptiVisible">
            <app-apptitude></app-apptitude>
        </div>
        <div *ngIf="MCQVisible">
            <app-mcq></app-mcq>
        </div>
        <div *ngIf="CodingVisible">
            <app-coding></app-coding>
        </div>
        <div *ngIf="GTOVisible">
            <app-gto></app-gto>
        </div>
        <div *ngIf="SQLVisible">
            <app-sql></app-sql>
        </div>
        <div *ngIf="ineterviewVisible">
            <app-interview></app-interview>
        </div>
    </div>
</div>